
.link-picker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1600;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,.25);
}

.link-picker .link-picker-dialog {
    position: relative;
    width: auto;
    max-width: 550px;
    margin: 1.75rem auto;
    left: auto;
    margin-right: auto;
    margin-left: auto;
    z-index: 6000;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.link-picker.open { 
    opacity: 1;
}

.link-picker.open .link-picker-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.link-picker .link-picker-content {
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.link-picker .link-picker-header {
    padding: 15px;
}

.link-picker .link-picker-header h3 {
    margin: 0;
    line-height: 1.42857143;
}

.link-picker .link-picker-header .close {
    font-size: 18px;
    opacity: 1;
    color: #666;
}

.link-picker .link-picker-body {
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.link-picker .link-picker-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #ddd;
    height: 65px;
}

.link-picker .link-picker-footer > :not(:first-child) {
    margin-left: .25rem;
}

.link-picker .link-picker-footer > :not(:last-child) {
    margin-right: .25rem;
}

.link-picker .link-form {
    margin-bottom: 30px;
}

.link-picker .existing-content {
    margin-bottom: 30px;
}

.link-picker .existing-content .nav {
    margin-bottom: 10px;
}

.link-picker  .existing-content .results-list {
    border: 1px solid #CCC;
    height: 200px;
}

.link-picker .existing-content .results-list input {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #CCC;
}

.link-picker .existing-content .results-list input:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.link-picker  .existing-content .results-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-picker .existing-content .results-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.link-picker .existing-content .results-list li:nth-child(odd) {
    background-color: #f9f9f9;
}

.link-picker .existing-content .results-list li:hover {
    background-color: #ddd !important;
}
