
.link-picker { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1600; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0; background-color: rgba(0,0,0,.25); }
.link-picker .link-picker-dialog { 
    position: relative;
    width: auto;
    max-width: 550px;
    margin: 1.75rem auto;
    left: auto;
    margin-right: auto;
    margin-left: auto;
    z-index: 6000;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.link-picker.open { opacity: 1; }
.link-picker.open .link-picker-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }    
.link-picker .link-picker-content { overflow: hidden; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; display: flex; flex-direction: column; position: relative; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5); box-shadow: 0 3px 9px rgba(0, 0, 0, .5); }
.link-picker .link-picker-header { padding: 15px; }
.link-picker .link-picker-header h3 { margin: 0; line-height: 1.42857143; }
.link-picker .link-picker-header .close { font-size: 18px; opacity: 1; color: #666; }
.link-picker .link-picker-body { padding: 15px;  position: relative; overflow: hidden; }
.link-picker .link-picker-footer { padding: 15px; text-align: right; border-top: 1px solid #ddd; height: 65px; }

.link-picker .link-picker-footer > :not(:first-child) {
    margin-left: .25rem;
}

.link-picker .link-picker-footer > :not(:last-child) {
    margin-right: .25rem;
}

.link-builder-modal.mblm-modal .mblm-modal-dialog {
    width: auto;
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 6000;
}

.link-builder-modal .link-mblm-modal-title {
    margin: 0;
}

.link-builder-modal .mblm-modal-dialog .mblm-modal-content {
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow: auto;
    width: 450px;
    margin: auto;
    max-width: 90%;
    top: 50%;
    transform: translateY(-50%);
}

.link-builder-modal .mblm-modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    color: #666;
    cursor: pointer;
}

.link-builder-modal .mblm-modal-header .close .icon-close {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-builder-modal .mblm-modal-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
}

.link-builder-modal .mblm-modal-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.link-builder-modal .form-group {
    margin-bottom: 5px;
    display: flex;
}

.link-builder-modal .form-group label {
    width: 100%;
    flex: 0 0 25%;
    padding: 5px 10px 0 0;
    font-weight: normal;
}

.link-builder-modal .form-group .form-control {
    height: 26px;
    border-radius: 0;
    flex: 1;
}

@media(min-width: 768px) {
	.link-builder-modal label {
        text-align: right;
    }
}

.query-results {
    border: 1px #dfdfdf solid;
    overflow: auto;
    position: absolute;
    top: 250px;
    bottom: 10px;
    left: 15px;
    right: 15px;
}

.query-results .query-notice {
    background-color: #f7fcfe;
    border-bottom: 1px solid #dfdfdf;
    padding: 6px;
    border-left: 4px solid #00a0d2;
}

.query-results ul.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.query-results ul.link-list li:nth-child(odd) {
    background-color: #f9f9f9;
}

.query-results ul.link-list li {
    clear: both;
    margin-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
    color: #32373c;
    padding: 4px 6px 4px 10px;
    cursor: pointer;
    position: relative;
}

.query-results ul.link-list li.selected {
    background-color: #ddd;
}

.query-results ul.link-list li .item-info {
    text-transform: uppercase;
    color: #666;
    font-size: 11px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.query-results ul.link-list li.selected .item-title {
    font-weight: 600;
}
